body {
  padding:0 30px;
  font-size: 18px;
  line-height: 22px;
  font-family: "Georgia", serif;
  color: #222222;
  background: #ffffff url("img/2.jpg");
  text-align: center;

} 
h1 {
  font-size: 36px;
  line-height: normal;
}

h2 {
  font-size: 25px;
  line-height: normal;
}

a {
  color: #efa300;
  text-decoration: underline;
}
footer {
  margin-top: 30px;
}
.margin {
  margin-bottom:100px;
}

footer {
  color: #fefefe;
  text-decoration: underline;
  margin-bottom: 30px;
  padding: 20px;
  background-color: #dfd378;
  border: 3px solid rgb(164, 161, 30);
}