body {
  padding:0 30px;
  font-size: 18px;
  line-height: 22px;
  font-family: "Georgia", serif;
  color: #222222;
  background: #ffffff url("img/2.jpg");
  text-align: center;

} 
h1 {
  font-size: 36px;
  line-height: normal;
}

h2 {
  font-size: 25px;
  line-height: normal;
}

a {
  color: #efa300;
  text-decoration: underline;
}
footer {
  margin-top: 30px;
}
.margin {
  margin-bottom:100px;
}

.header-email {
  padding-left: 30px;
  background-image: url("img/icon-email-header.svg");
}

.header-phone {
  padding-left: 25px;
  background-image: url("img/icon-phone-header.svg");
}

.footer-email {
  padding-left: 30px;
  background-image: url("img/icon-email-footer.svg");
}

.footer-phone {
  padding-left: 25px;
  background-image: url("img/icon-phone-footer.svg");
}

footer {
  color: rgba(56, 87, 28, 1);
  text-decoration: underline;
  margin-bottom: 60px;
  padding: 20px;
  background-color:rgba(255, 239, 11, 0.5);
  

}

.partnership {
  padding:10px;
  margin:70px;
  text-align: center;
  color: #ffffff;
  background-color: #acd38b;
  background-image: url("img/background55.png");
  border: 3px solid rgb(140, 201, 125);

