body {
  padding:0 30px;
  font-size: 18px;
  line-height: 22px;
  font-family: "Georgia", serif;
  color: #222222;
  background: #ffffff url("img/2.jpg");
  text-align: center;

} 
.headerdecor {
padding: 20px;
color: white;
background-color:#c4bcab;
}


h1 {
  font-size: 36px;
  line-height: normal;
}

h2 {
  font-size: 25px;
  line-height: normal;
}

a {
  color: #000000;
  text-decoration: underline;
}

.line {
  background-color:#604a4ab1 
}

.main-menu ul {
  margin: 0;
  margin-left:  10px;
  padding: 0; 
  list-style: none;
}

.main-menu li {
  display: inline-block;
  margin-right: 1em;
}

.main-menu a {
  color: white;
}
.margin {
  margin-bottom:100px;
}

.header-email {
  padding-left: 30px;
  background-image: url("img/icon-email-header.svg");
  background-repeat: no-repeat;
}

.header-phone {
  padding-left: 25px;
  background-image: url("img/icon-phone-header.svg");
  background-repeat: no-repeat;
}

.footer-email {
  padding-left: 30px;
  background-image: url("img/icon-email-footer.svg");
  background-repeat: no-repeat;
}

.footer-phone {
  padding-left: 25px;
  background-repeat: no-repeat;
  background-image: url("img/icon-phone-footer.svg");
}

footer {
  color: rgba(56, 87, 28, 1);
  text-decoration: underline;
  margin-bottom: 60px;
  padding: 20px;
  background-color:rgba(255, 239, 11, 0.5);
  margin-top: 30px;

}

.partnership {
  padding:10px;
  margin:70px;
  text-align: center;
  color: #ffffff;
  background-color: #99b47e;
  background-image: url("img/background55.png");
  border: 3px solid rgb(135, 140, 134);
